@charset "UTF-8";

* {
	padding: 0px;
	margin: 0px;
}

a {
	text-decoration: none;
}

header .top{
	height: 100px;
	background-color: #4376E6;
}

header .memberSection{
	float: right;
}

header .memberSection div{
	display: inline-block;
	margin-top: 10px;
	margin-right: 10px;
	text-align: center;
}

header .memberSection div a{
	font-size: 15px;
	color: white;
}

header .memberSection div:hover{
	background-color: #999;
}



















